extends ../layout.pug

block contenido
    h1 Profesionales   
    form(action="/medicos/buscar", method="GET")
        .form-group
            label(for="query") Buscar profesional:
            input(type="text" name="query" id="query" class="form-control" placeholder="Buscar por nombre, apellido o especialidad" required)
        .d-flex
            button(type="submit" class="btn btn-primary mt-2 mr-2") Buscar
            a(href="/medicos/crear" class="btn btn-success mt-2") Ingresar Médico
    
    .container
        .row
            each medico in medicosActivos
                .col-md-4
                    .card.mb-4(class=(medico.activo == 1) ? 'bg-light' : 'bg-secondary text-white')
                        .card-body
                            h5.card-title #{medico.nombre} #{medico.apellido}
                            h6.card-subtitle.mb-2.text-muted ID: #{medico.id_profesional}
                            p.card-text 
                                | <strong>DNI:</strong> #{medico.dni}
                                br
                                | <strong>Sucursal:</strong> #{medico.sucursal_nombre}
                                br
                                | <strong>Email:</strong> #{medico.email}
                                br
                                | <strong>Especialidades:</strong> #{medico.especialidades}
                                br
                                | <strong>Matrículas:</strong> #{medico.matriculas}
                                br
                                | <strong>Estado:</strong> #{medico.activo == 1 ? 'Activo' : 'Inactivo'}
                            .card-footer.d-flex.justify-content-between
                                a(href=`/medicos/editar/${medico.id_profesional}` class="btn btn-info btn-sm") Modificar
                                form(action=`/medicos/eliminar/${medico.id_profesional}`, method="POST" style="display:inline;")
                                    button(type="submit" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas eliminar a este médico?');") Borrar
                                

                                if medico.activo == 1
                                    form(action=`/medicos/agregar-especialidad/${medico.id_profesional}`, method="GET" style="display:inline;")
                                        button(type="submit" class="btn btn-primary btn-sm") Agregar Especialidad

    h2 Médicos Inactivos
    .container
        .row
            each medico in medicosInactivos
                .col-md-4
                    .card.mb-4(class=(medico.activo == 1) ? 'bg-light' : 'bg-secondary text-white')
                        .card-body
                            h5.card-title #{medico.nombre} #{medico.apellido}
                            h6.card-subtitle.mb-2.text-muted ID: #{medico.id_profesional}
                            p.card-text 
                                | <strong>DNI:</strong> #{medico.dni}
                                br
                                | <strong>Sucursal:</strong> #{medico.sucursal_nombre}
                                br
                                | <strong>Email:</strong> #{medico.email}
                                br
                                | <strong>Especialidades:</strong> #{medico.especialidades}
                                br
                                | <strong>Matrículas:</strong> #{medico.matriculas}
                                br
                                | <strong>Estado:</strong> #{medico.activo == 1 ? 'Activo' : 'Inactivo'}
                            .card-footer.d-flex.justify-content-between
                                a(href=`/medicos/editar/${medico.id_profesional}` class="btn btn-info btn-sm") Modificar
                                 
                                form(action=`/medicos/activar/${medico.id_profesional}`, method="POST" style="display:inline;")
                                    button(type="submit" class="btn btn-success btn-sm") Activar

