extends ../layout.pug

block contenido
  .container
    //- Título con estilo
    h1.text-center(style="font-family: 'Roboto', sans-serif; font-weight: 700; font-size: 2.5rem; margin-bottom: 30px;")
      | #{nombre} #{apellido} - #{especialidad.nombre}

    //- Agenda de Turnos
    table.table.table-bordered
      thead
        tr
          th Fecha
          th Hora
          th Paciente
          th Motivo
          th Estado
      tbody
        each item in agenda
          tr(class= item.tipo === 'ocupado' ? 'table-danger' : 'table-success')
            td= item.fecha
            td= item.hora
            td= item.paciente || 'N/A'
            td= item.motivo || 'N/A'
            td
              if item.tipo === 'ocupado'
                span(style="color: red;") Ocupado
              else
                span(style="color: green;") Disponible



